<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Объявление -->
{% block title %}
Объявление
{% endblock title %}

<!-- В контенте на странице мы выводим само объявление, идентификатор которого был передан в url -->
{% block content %}
<h3>{{ ad_detail.title }}</h3>
{{ ad_detail.text|safe }}
<p><em>Дата публикации: {{ ad_detail.dateCreation|date:'d M Y' }}</em></p>
Автор объявления: {{ ad_detail.author }}.

<p>Категория: {{ ad_detail.get_adCategory_display }}</p>

<p>
    {% if perms.BulletinBoard.change_ad and ad_detail.author == request.user %}
    <a href="{% url 'ad_update' pk=ad_detail.id %}">Редактировать</a>
    {% endif %}
    {% if perms.BulletinBoard.delete_ad and ad_detail.author == request.user %}
    <a href="{% url 'ad_delete' pk=ad_detail.id %}">Удалить</a>
    {% endif %}
</p>

<hr>
<h3>Откликнуться на объявление:</h3>
<form action="{% url 'response_create' pk=ad_detail.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Откликнуться" />
</form>


{% endblock content %}