<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!--Импортируем модуль с нашим тегом-->
{% load custom_tags %}

<!-- Название -->
{% block title %}
Отклики на мои объявления
{% endblock title %}

<!-- В контенте на странице мы выводим все отклики -->
{% block content %}

<h2>Все отклики</h2>
<hr>
<form action="" method="get">
   {{ filter.form.as_p }}
   <input type="submit" value="Найти" />
</form>

{% if filter.qs %}
    <ul class="list-group list-group-flush">
        {% for response in filter.qs %}
        <li class="list-group-item">
           <p>Отклик на объявление: <a href="{% url 'ad_detail' response.responseAd.id %}">{{ response.responseAd.title }}</a>
           <small class="fw-normal"> Категория: {{ response.responseAd.get_adCategory_display }}</small></p>

           <small class="fw-normal">{{ response.dateCreation|date:'M d Y D H:i' }}</small>
           <small class="text-muted">Автор: {{ response.responseUser }} </small>
           <div class="fw-bold">Текст отклика: {{ response.text }} </div>

           {% if response.status == 'ACCEPTED' %}
                <p style="color: green"><b>Отклик принят</b></p>
           {% else %}
                <p style="color: gray"><b>Отклик на рассмотрении</b></p>
           {% endif %}

           {% if response.status == 'PENDING' %}
           <a href="{% url 'response_accept' response.id %}" class="btn btn-secondary btn-sm">Принять отклик</a>
           <a href="{% url 'response_delete' response.id %}" class="btn btn-secondary btn-sm">Удалить отклик</a>
           {% endif %}
       </li>
       {% endfor %}
    </ul>
{% else %}
   <h2>Откликов нет!</h2>
{% endif %}

{% endblock content %}